.section-special-review {
  background: $black;
  color: $white;
  padding: .5rem 0;

  h3 {
    font-family: $font-family-lobster;
    padding: 1rem;
  }

  a {
    font-size: 2rem;

    p {
      font-size: 1.25rem;
    }
  }
}