<div class="section-style">
  <div class="grid-container section-style ">
    <div class="grid-x grid-margin-x grid-padding-y">
      <div class=" large-6">
          <img class="" src="/assets/img/cuts-tony.jpg" alt="Space">
      </div>
      <div class="cell large-6">
        <h2>The style-cut, done only with shears.</h2>
        <p>He went from having an weildy beard to having clean, freshly trimmed, cut to the exact length demanded by the client.</p>
        <p>Like the client he is...</p>
        <blockquote>"Dude thanks, my mom's coming into town." - T.</blockquote>
      </div>
    </div>
  </div>
</div>