<div class="section-special-review">
  <div class="grid-container">
    <div class="grid-x  grid-padding-y">
      <div class="cell large-12 text-center">
        <h3>$5 Off Your Next Haircut When You Leave a Review</h3>
          <div class="grid-x grid-padding-y">
            <div class="cell medium-6">
              <a href="https://www.yelp.com/biz/nick-steeves-saint-paul" target="_blank">
                <i class="fab fa-yelp"></i>
                <p>On Yelp</p>
              </a>
            </div>
            <div class="cell medium-6">
              <a href="https://www.google.com/search?q=nick+the+barber+saint+paul&oq=nick+the+&aqs=chrome.0.69i59l2j69i57j0l3.2598j0j4&sourceid=chrome&ie=UTF-8#lrd=0x52b3320c0a448339:0xb7f9af21020f54b5,1,,," target="_blank">
                <i class="fab fa-google"></i>
                <p>On Google</p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>