<div class="section-features">
    <div class="grid-container">
      <div class="grid-x  grid-padding-y">
        <div class="cell large-12">
          <div class="grid-x grid-margin-x">
            <div class="cell large-6 large-offset-3 text-center">
              <h2>Barber Services</h2>
              <p class="lead">A specialist in classic style haircuts.</p>
            </div>
          </div>
          <div class="grid-x grid-margin-x">
            <div class="cell large-4 text-center">
              <h3>Haircut</h3>
              <p>A specialist in classic style haircuts.</p>
              <ul class="no-bullet">
                <li><strong>Working Man</strong> - <strong>$32*</strong></li>
                <li>Student - $28</li>
                <li>Elderly - $25</li>
            </ul>
            <p><em>* $5 off for first timers!</em></p>
            </div>
            <div class="cell large-4 text-center">
              <h3>Shave</h3>
              <p>One hot towel with preshave oil, then we lather the face with warm lather, then lathered again and begin the shave. End with a cold towel to close the pours, and add aftershave to seal the deal.</p>
              <ul class="no-bullet">
                <li>$35</li>
              </ul>
            </div>
            <div class="cell large-4 text-center">
              <h3>Beard Trim</h3>
              <p>Have your hair professionally combed out, add beard oil, we loosen the beard with another hot towel and trim it to your liking.</p>
              <ul class="no-bullet">
                <li>$15</li>
              </ul>
            </div>
            <div class="cell large-4 large-offset-2 text-center">
              <h3>Head Shave</h3>
              <p>Just like the shave, but for your head.<br>Be a simple man.</p>
              <ul class="no-bullet">
                <li>$35</li>
              </ul>
            </div>
            <div class="cell large-4 text-center">
              <h3>Kids Haircut</h3>
              <p>Just sit in the chair. The stiller you are, <br>the better a haircut I can give you.</p>
              <ul class="no-bullet">
                <li>$22</li>
              </ul>
            </div>
            {{!--<div class="cell">
              <h3></h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, dolorem consectetur dolore odit voluptatem eos, nemo perspiciatis non quae inventore nam vero dolores explicabo soluta minus at, asperiores natus ullam!</p>
            </div>
            <div class="cell">
              <h3></h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, dolorem consectetur dolore odit voluptatem eos, nemo perspiciatis non quae inventore nam vero dolores explicabo soluta minus at, asperiores natus ullam!</p>
            </div>--}}
          </div>
        </div>
      </div>
    </div>
  </div>