<div class="site-footer">
    <div class="grid-container">
      <div class="grid-x grid-margin-x grid-padding-y">
        <div class="cell cell-about large-4">
          {{> cell-about}}
        </div>
        <div class="cell cell-hours large-4">
          <h2>Hours</h2>
          <ul class="no-bullet">
            <li>Mon:	Closed</li>
            <li>Tue:	9:00 am - 6:00 pm</li>
            <li>Wed:	9:00 am - 6:00 pm</li>
            <li>Thu:	9:00 am - 6:00 pm</li>
            <li>Fri:	9:00 am - 6:00 pm</li>
            <li>Sat:	9:00 am - 2:00 pm</li>
            <li>Sun:	Closed</li>
          </ul>
        </div>
        <div class="cell large-4">
            <ul class="no-bullet">
                <li><a href="#"><i class="fa fa-map-marker"></i> 1575 Grand Ave. Saint Paul, MN</a><hr></li>
                <li><a href="sms:1-651-333-0636"><i class="fa fa-phone"></i> +1 651-333-0636</a><hr></li>
                <li><a href="mailto:NickTheBarber1916@gmail.com" target="_top"><i class="fa fa-envelope"></i> NickTheBarber1916@gmail.com</a></li>
              </ul>
        </div>
      </div>
    </div>
  </div>