<div class="site-footer">
    <div class="grid-container">
      <div class="grid-x grid-margin-x grid-padding-y">
        <div class="cell cell-about large-4">
          {{> cell-about}}
        </div>
        <div class="cell large-2">
          {{!--<h3>Links</h3>
          <ul class="no-bullet">
            <li>
              <a href="#">About</a>
            </li>
            <li>
              <a href="#">Hairstyle</a>
            </li>
            <li>
              <a href="#">Contact</a>
            </li>
          </ul>--}}
        </div>
        {{!--<div class="cell large-3">
          <h3>Latest Things</h3>
          <ul class="no-bullet">
            <li><a href="#">
                <p class="date-footer">June 29th, 2018</p>
                <p>7 Best Haircuts in the World this Week</p>
            </a></li>
  
          </ul>
        </div>--}}
        <div class="cell large-6">

            <ul class="no-bullet">
                <li><a href="#"><i class="fa fa-map-marker"></i> 1575 Grand Ave. Saint Paul, MN</a><hr></li>
                <li><a href="sms:1-651-333-0636"><i class="fa fa-phone"></i> +1 651-333-0636</a><hr></li>
                <li><a href="mailto:NickTheBarber1916@gmail.com" target="_top"><i class="fa fa-envelope"></i> NickTheBarber1916@gmail.com</a></li>
              </ul>
        </div>
      </div>
    </div>
  </div>