.site-header {
  height: 90vh;
  background-image: url('https://raw.githubusercontent.com/ryan258/nick-steeves-live/master/assets/img/nick-steeves-the-barber--in-action.jpg');
  // background-repeat: no-repeat;
  // background-attachment: co;
  // background-position: center;
  background-size: cover;
  background-position: center top;
  // margin-bottom: 1.5rem;
  h2 {
    color: $white;
    font-size: 4rem;
    margin-top: 7rem;
    font-family: $font-family-lobster;
    float: right;
    text-shadow: 2px 2px $black;
  }
  hr {
    width: 100%;
    float: right;
  }
  .lead {
    color: $white;
    font-size: 2rem;
    font-family: $font-family-lobster;
    float: right;
    clear: both;
    text-shadow: 2px 2px $black;
  }
}

@media screen and (max-width: 600px) {
  .site-header {
    height: 50vh;
  }
}
@media screen and (max-width: 400px) {
  .site-header {
    height: 100vh;
  }
}