.site-footer {
  background: $dark-brown;

  h2, h3 {
    color: $white;
  }
}

.cell {
  &-about,
  &-hours {
    h2 {
      font-family: $font-family-lobster;
    }
    p {
      color: $white;
    }
    ul {
      color: $white;
    }
    .fab {
      font-size: 1.5rem;
    }
  }
}