<h2>About</h2>
<p>I've been a professional barber for 6 years. Enjoy photos of my hair cuts on <a href="https://www.instagram.com/nickthemasterbarber1/" target="_blank">Instagram</a>.</p>
<ul class="menu">
  <li>
    <a href="https://www.instagram.com/nickthemasterbarber1/" target="_blank">
      <i class="fab fa-instagram"></i>
    </a>
  </li>
  <li>
    <a href="https://www.facebook.com/Nick-Steeves-Barber-Business-916549878523781/" target="_blank">
      <i class="fab fa-facebook"></i>
    </a>
  </li>
  <li>
    <a href="https://www.yelp.com/biz/nick-steeves-saint-paul" target="_blank">
      <i class="fab fa-yelp"></i>
    </a>
  </li>
  <li>
    <a href="https://www.google.com/search?q=nick+the+barber+saint+paul&oq=nick+the+&aqs=chrome.0.69i59l2j69i57j0l3.2598j0j4&sourceid=chrome&ie=UTF-8#lrd=0x52b3320c0a448339:0xb7f9af21020f54b5,1,,," target="_blank">
      <i class="fab fa-google"></i>
    </a>
  </li>
</ul>