<h2>About</h2>
<p>I've been a professional barber for 6 years. Enjoy photos of my hair cuts on <a href="https://www.instagram.com/nickthemasterbarber1/" target="_blank">Instagram</a>.</p>
<ul class="menu">
  <li>
    <a href="https://www.instagram.com/nickthemasterbarber1/" target="_blank">
      <i class="fab fa-instagram"></i>
    </a>
  </li>
  <li>
    <a href="https://www.facebook.com/Nick-Steeves-Barber-Business-916549878523781/" target="_blank">
      <i class="fab fa-facebook"></i>
    </a>
  </li>
</ul>